.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    min-height: 80px;
    height: auto;
    padding: 10px 65px;
}
.facecookLogo {
    cursor: pointer;
}
@media (max-width: 425px) {
    .headerContainer {
        padding: 10px 30px;
    }
}
