.postContainer {
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
.postContent {
    display: flex;
    gap: 10px;
}
.userImage {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.postUserData {
    display: flex;
    gap: 5px;
    align-items: center;
}
.postUsername {
    font-weight: 600;
}
.link {
    text-decoration: none; 
    color: #000000;
}
.postTime{
    font-size: 12px;
}
.postLocation {
    font-size: 12px;
}
.postDescription {
    margin: 10px 0;
}